@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&family=Mochiy+Pop+One&family=Poppins&family=Slabo+27px&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

h1,
h2 {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3,
h4 {
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5,
h6 {
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.85rem;
}

a {
  text-decoration: none;
}

p,
a,
.circular-dots,
ul li {
  font-size: 0.75rem;
}

p,
.circular-dots li {
  margin-bottom: 0.5em;
}

.circular-dots li {
  margin-left: 0.5rem;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.05rem;
  }
  h6 {
    font-size: 0.95rem;
  }
  .circular-dots li::before {
    font-size: 1.4rem;
  }
  .circular-dots li::before {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  p,
ul li {
    font-size: 0.8rem;
  }
}
@media (min-width: 1600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
  }
  p,
.circular-dots,
a {
    font-size: 0.85rem;
  }
  .circular-dots li::before {
    font-size: 2.2rem;
  }
}
.container {
  width: min(90%, 90rem);
  margin-inline: auto;
}

section {
  padding: 3rem 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.7rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

.col-20,
.col-25,
.col-30,
.col-33,
.col-35,
.col-40,
.col-45,
.col-50,
.col-60,
.col-70,
.col-80 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-20 {
    width: 20%;
  }
  .col-25 {
    width: 25%;
  }
  .col-30 {
    width: 30%;
  }
  .col-33 {
    width: 33%;
  }
  .col-35 {
    width: 35%;
  }
  .col-40 {
    width: 40%;
  }
  .col-45 {
    width: 45%;
  }
  .col-50 {
    width: 50%;
  }
  .col-60 {
    width: 60%;
  }
  .col-70 {
    width: 100%;
  }
  .col-80 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-70 {
    width: 70%;
  }
  .col-80 {
    width: 80%;
  }
}
h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

h3 {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 700;
}

h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

a,
p,
ul li,
button {
  font-family: "Slabo 27px", serif;
  font-weight: 300;
}

.text-black {
  color: #000000;
}

.text-green {
  color: #1f9588;
}

.text-white {
  color: #ffffff;
}

.text-navy-blue {
  color: #354555;
}

.bg-grey {
  background-color: #f2f2f2;
}

.bg-green {
  background-color: #1f9588;
}

.bg-white {
  background-color: #ffffff;
}

.text-left {
  text-align: left;
}

.faint-horizontal-line {
  border: 1px solid #f2f2f2;
}

.intenship .logo-wrapper img {
  max-width: 100px;
  margin-inline: 0 auto;
}

.column-30 {
  width: 30%;
}

.inline-block li {
  display: inline-block;
}

.herotext-wrapper a.btn {
  padding: 0.5em 2em;
  cursor: pointer;
  display: inline-block;
  width: auto;
}

.hearder-hero-main-wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../asset/header/bg-img-blackpopex-mobile.jpg");
  min-height: 100px;
}

#navba_hero_container .navbar-wrapper .flex {
  flex-direction: row;
}
#navba_hero_container #blackpopex_logo {
  max-width: 200px;
  width: auto;
  margin-left: -2em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #354555;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  min-height: 6vh;
  padding: 0.5em 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
nav .hamburger-menu {
  cursor: pointer;
  display: block;
  width: auto;
  margin-inline: auto;
}
nav .span {
  height: 4px;
  margin-bottom: 6px;
  background-color: #1f9588;
  border-radius: 16px;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}
nav .span:last-child {
  margin-bottom: 0;
}
nav .bar1 {
  width: 40px;
}
nav .bar2 {
  width: 35px;
}
nav .bar3 {
  width: 30px;
}
nav .change .bar1 {
  transform: translateX(-10px);
}
nav .change .bar2 {
  opacity: 0;
  margin-bottom: 2px;
}
nav .change .bar3 {
  transform: translateX(10px);
}
nav .navbarLinks {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 6vh;
  width: 0;
  min-height: 94vh;
  background-color: #354555;
  z-index: 1;
  padding-top: 2em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  transition: width 1s ease-in-out, right 0.5s ease-in-out;
}
nav .increase-width {
  width: 260px;
}
@media (min-width: 600px) {
  nav .increase-width {
    width: 300px;
  }
}
nav #menu {
  width: 100%;
}
nav #menu li {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
}
nav #menu li a {
  padding: 8px 8px 8px 32px;
  font-size: 1.5em;
  color: #ffffff;
}
nav #menu li a.active {
  color: #1f9588;
}

@media (min-width: 768px) {
  #navba_hero_container #blackpopex_logo {
    width: 30%;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: inherit;
    bottom: auto;
    left: auto;
    width: 70%;
    max-width: auto;
    z-index: 2;
    min-height: auto;
    padding: 0;
    box-shadow: none;
  }
  nav .hamburger-menu {
    display: none;
  }
  nav .navbarLinks {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    width: auto;
    margin-inline: auto 0;
    min-height: auto;
    background-color: inherit;
    z-index: 1;
    padding-top: 0;
    box-shadow: none;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
  }
  nav #menu {
    width: 100%;
    margin-left: auto 0;
  }
  nav #menu li {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }
  nav #menu li a {
    padding: 1em 0.5em;
    font-size: 1.1em;
    font-weight: 400;
  }
}
@media (min-width: 992px) {
  .hearder-hero-main-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../asset/header/background-hero-image.jpg");
    min-height: -150px;
    margin-top: -35px;
  }
  #navba_hero_container #blackpopex_logo {
    width: 30%;
  }
  nav #menu li {
    margin-right: 1em;
  }
  nav #menu li a {
    padding: 1em 0.5em;
    font-size: 1.1em;
  }
}
@media (min-width: 1200px) {
  #navba_hero_container #blackpopex_logo {
    max-width: 240px;
  }
  .hearder-hero-main-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: auto;
    margin-top: 0;
  }
  nav #menu li {
    margin-right: 1.25em;
  }
  nav #menu li a {
    font-size: 1.25em;
  }
}
@media (min-width: 1600px) {
  #navba_hero_container #blackpopex_logo {
    max-width: 300px;
  }
  nav #menu li {
    margin-right: 1.5em;
  }
  nav #menu li a {
    font-size: 1.4em;
  }
}
.herotext-wrapper {
  max-width: 600px;
  margin-inline: 0 auto;
}
.herotext-wrapper h5 {
  margin-bottom: 0.25em;
}
.herotext-wrapper h1 {
  margin-bottom: 0.2em;
  line-height: 0.8;
}
.herotext-wrapper p {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .herotext-wrapper {
    max-width: 500px;
  }
}
@media (min-width: 1200px) {
  .herotext-wrapper {
    max-width: 600px;
  }
}
@media (min-width: 1600px) {
  .herotext-wrapper {
    max-width: 650px;
  }
}
#about_me {
  padding: 0;
  margin: 0;
}
#about_me .flex {
  margin-bottom: 10px;
}
#about_me .flex .col-20 .container {
  width: min(40%, 40rem);
  margin-inline: auto;
}
#about_me .flex .col-20 img {
  max-width: 500px;
  width: 100%;
  margin: 2em 0;
}
#about_me .flex .col-80 {
  padding: 3em 0;
  margin-bottom: 0;
}
#about_me .flex .col-80 .container {
  width: min(85%, 80rem);
  margin-inline: auto;
}

@media (min-width: 768px) {
  #about_me .flex .col-20 img {
    margin: 0;
  }
  #about_me .flex .col-80 {
    padding: 3em 0;
  }
}/*# sourceMappingURL=main.css.map */