@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&family=Mochiy+Pop+One&family=Poppins&family=Slabo+27px&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

h1,
h2 {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3,
h4 {
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5,
h6 {
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.85rem;
}

a {
  text-decoration: none;
}

p,
a,
.circular-dots,
ul li {
  font-size: 0.75rem;
}

p,
.circular-dots li {
  margin-bottom: 0.5em;
}
.circular-dots li::before {
  font-size: 1.4rem;
} 
.circular-dots li {
  margin-left: 0.5rem;
}

ul {
  list-style-type: none;
}

.circular-dots li::before {
  font-size: 1.2rem;
  color: black;
  content: ".";
  margin-right: 0.25em;
  display: inline-block;
  line-height: 0;
} 

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.05rem;
  }
  .circular-dots li::before {
    font-size: 1.4rem;
  }
 
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  p,
ul li {
    font-size: 0.8rem;
  }
}
@media (min-width: 1600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
  }
  p,
.circular-dots,
a {
    font-size: 0.9rem;
  }
  .circular-dots li::before {
    font-size: 2.2rem;
  }
}
.container {
  width: min(90%, 90rem);
  margin-inline: auto;
}

section {
  padding: 3rem 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.7rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

.col-20,
.col-25,
.col-30,
.col-33,
.col-35,
.col-40,
.col-45,
.col-50,
.col-60,
.col-70,
.col-80 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-20 {
    width: 20%;
  }
  .col-25 {
    width: 25%;
  }
  .col-30 {
    width: 30%;
  }
  .col-33 {
    width: 33%;
  }
  .col-35 {
    width: 35%;
  }
  .col-40 {
    width: 40%;
  }
  .col-45 {
    width: 45%;
  }
  .col-50 {
    width: 50%;
  }
  .col-60 {
    width: 60%;
  }
  .col-70 {
    width: 100%;
  }
  .col-80 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-70 {
    width: 70%;
  }
  .col-80 {
    width: 80%;
  }
}
.back-top-btn-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  bottom: 35px;
  right: 0;
  margin-right: 0.5em;
  padding: 1em;
  max-width: 150px;
  overflow-y: hidden;
  z-index: 1;
}

.scrollTopBtn {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 10px;
  margin-bottom: 0.5em;
  outline: none;
  border: none;
  padding: 0.5em 0 0.8em;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(31, 149, 136, 0.2);
  color: #354555;
  background-color: #fff;
}

@media (min-width: 768px) {
  .back-top-btn-wrapper {
    bottom: 70px;
    z-index: 999;
  }
}
@media (min-width: 1200px) {
  .back-top-btn-wrapper {
    bottom: 60px;
  }
}
@media (min-width: 1400px) {
  .back-top-btn-wrapper {
    right: 30px;
  }
}
h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

a,
p,
ul li,
button {
  font-family: "Slabo 27px", serif;
  font-weight: 300;
}

.text-grey {
  color: #ececec;
}

.text-black {
  color: #000000;
}

.text-green {
  color: #1f9588;
}

.text-white {
  color: #ffffff;
}

.text-navy-blue {
  color: #354555;
}

.bg-grey {
  background-color: #ececec;
}

.bg-green {
  background-color: #1f9588;
}

.bg-white {
  background-color: #ffffff;
}

.text-left {
  text-align: left;
}

.faint-horizontal-line {
  border: 1px solid #ececec;
  margin: 0.5em 0;
}

.column-30 {
  width: 30%;
}

.inline-block li {
  display: inline-block;
}

.herotext-wrapper a.btn {
  padding: 0.5em 2em;
  cursor: pointer;
  display: inline-block;
  width: auto;
}

.hearder-hero-main-wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../asset/header/bg-img-blackpopex-mobile.jpg");
  min-height: 100px;
}

#navba_hero_container .navbar-wrapper .flex {
  flex-direction: row;
}
#navba_hero_container #blackpopex_logo {
  max-width: 200px;
  width: auto;
  margin-left: -1em;
  margin-top: 2em;
}
#navba_hero_container #blackpopex_logo img {
  max-width: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #354555;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  min-height: 6vh;
  padding: 0.5em 1em;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
nav .hamburger-menu {
  cursor: pointer;
  display: block;
  width: auto;
  margin-inline: auto;
}
nav .span {
  height: 4px;
  margin-bottom: 6px;
  background-color: #1f9588;
  border-radius: 16px;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}
nav .span:last-child {
  margin-bottom: 0;
}
nav .bar1 {
  width: 40px;
}
nav .bar2 {
  width: 35px;
}
nav .bar3 {
  width: 30px;
}
nav .change .bar1 {
  transform: translateX(-10px);
}
nav .change .bar2 {
  opacity: 0;
  margin-bottom: 2px;
}
nav .change .bar3 {
  transform: translateX(10px);
}
nav .navbarLinks {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 6vh;
  width: 0;
  min-height: 94vh;
  background-color: #354555;
  z-index: 1;
  padding-top: 2em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  transition: width 1s ease-in-out, right 0.5s ease-in-out;
  z-index: 999999;
}
nav .increase-width {
  width: 260px;
}
@media (min-width: 600px) {
  nav .increase-width {
    width: 300px;
  }
}
nav #menu {
  width: 100%;
}
nav #menu li {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
}
nav #menu li a {
  padding: 8px 8px 8px 32px;
  font-size: 1.5em;
  color: #ffffff;
}
nav #menu li a.active {
  color: #1f9588;
}

@media (min-width: 768px) {
  #navba_hero_container #blackpopex_logo {
    width: 30%;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: inherit;
    bottom: auto;
    left: auto;
    width: 70%;
    max-width: auto;
    z-index: 2;
    min-height: auto;
    padding: 0;
    box-shadow: none;
  }
  nav .hamburger-menu {
    display: none;
  }
  nav .navbarLinks {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    width: auto;
    margin-inline: auto 0;
    min-height: auto;
    background-color: inherit;
    z-index: 1;
    padding-top: 0;
    box-shadow: none;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
  }
  nav #menu {
    width: 100%;
    margin-left: auto 0;
  }
  nav #menu li {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }
  nav #menu li a {
    padding: 1em 0.5em;
    font-size: 1.1em;
    font-weight: 400;
  }
}
@media (min-width: 992px) {
  .hearder-hero-main-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../asset/header/background-hero-image.jpg");
    min-height: -150px;
    margin-top: -35px;
  }
  #navba_hero_container {
    margin-top: 1em;
  }
  nav #menu li {
    margin-right: 1em;
  }
  nav #menu li a {
    padding: 1em 0.5em;
    font-size: 1.1em;
  }
}
@media (min-width: 1200px) {
  #navba_hero_container {
    margin-top: 0;
  }
  #navba_hero_container #blackpopex_logo img {
    max-width: 110px;
  }
  .hearder-hero-main-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: auto;
    margin-top: 0;
  }
  nav #menu li {
    margin-right: 1.25em;
  }
  nav #menu li a {
    font-size: 1.25em;
  }
}
@media (min-width: 1600px) {
  #navba_hero_container #blackpopex_logo img {
    max-width: 120px;
  }
  nav #menu li {
    margin-right: 1.5em;
  }
  nav #menu li a {
    font-size: 1.4em;
  }
}
.herotext-wrapper {
  max-width: 600px;
  margin-inline: 0 auto;
}
.herotext-wrapper h5 {
  margin-bottom: 0.25em;
}
.herotext-wrapper h1 {
  margin-bottom: 0.2em;
  line-height: 0.8;
}
.herotext-wrapper p {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .herotext-wrapper {
    max-width: 500px;
  }
}
@media (min-width: 1200px) {
  .herotext-wrapper {
    max-width: 600px;
  }
}
@media (min-width: 1600px) {
  .herotext-wrapper {
    max-width: 650px;
  }
}
#about_me {
  padding: 0;
  margin: 0;
}
#about_me .flex {
  margin-bottom: 10px;
}
#about_me .flex .col-20 .container {
  width: min(40%, 40rem);
  margin-inline: auto;
}
#about_me .flex .col-20 img {
  max-width: 500px;
  width: 100%;
  margin: 2em 0;
}
#about_me .flex .col-80 {
  padding: 3em 0;
  margin-bottom: 0;
}
#about_me .flex .col-80 .container {
  width: min(85%, 80rem);
  margin-inline: auto;
}

@media (min-width: 768px) {
  #about_me .flex {
    flex-direction: column;
  }
  #about_me .flex .col-20 {
    width: 100%;
  }
  #about_me .flex .col-20 img {
    margin: 2em auto;
    max-width: 200px;
  }
  #about_me .flex .col-80 {
    width: 100%;
    padding: 3em 0;
  }
}
@media (min-width: 1200px) {
  #about_me .flex {
    flex-direction: row;
  }
  #about_me .flex .col-20 {
    width: 25%;
  }
  #about_me .flex .col-20 img {
    margin: 0;
    max-width: auto;
  }
  #about_me .flex .col-80 {
    width: 75%;
    padding: 3em 0;
  }
}
@media (min-width: 1400px) {
  #about_me .flex .col-20 {
    width: 20%;
  }
  #about_me .flex .col-80 {
    width: 80%;
  }
}
#Resume {
  padding: 0;
  margin: 0;
}
#Resume .flex {
  align-items: flex-start;
}
#Resume .flex .container {
  width: min(85%, 90rem);
  margin-inline: auto;
  padding: 3em 0;
}
#Resume .flex .school-attended {
  margin-bottom: 2em;
}
#Resume .flex .school-attended h5 {
  margin-bottom: 0;
}
#Resume .flex .school-attended h6 {
  margin-bottom: 0;
  font-weight: 300;
}
#Resume .flex .school-attended .text-green {
  margin-bottom: 0;
}
#Resume .work-experience {
  margin-top: 1em;
}
#Resume .work-experience h5.text-navy-blue {
  margin-bottom: 0.75em;
}
#Resume .work-experience .intenship {
  margin-bottom: 0.25em;
  padding: 1em;
  width: 100%;
  max-width: 600px;
}
#Resume .work-experience .intenship .logo-wrapper img {
  max-width: 300px;
  margin-inline: 0 auto;
  margin-bottom: 0.25em;
}
#Resume .work-experience .intenship h6.bold-font {
  font-weight: 600;
}
#Resume .work-experience .intenship h6.tiny-text {
  line-height: 1.2;
  margin-bottom: 0.75em;
}
#Resume .work-experience .intenship .date-of-intenship li {
  color: #354555;
}
#Resume .work-experience .intenship .date-of-intenship li::after {
  content: "|";
  font-size: 0.75rem;
  padding-inline: 0.5em;
}
#Resume .work-experience .intenship .date-of-intenship li:last-child::after {
  content: "";
}
#Resume .slick-container {
  margin-top: -25px;
}
#Resume .slick-container .slick-slider {
  width: 100%;
  max-width: 600px;
}
#Resume .slick-container .flex {
  flex-direction: row;
}
#Resume .slick-container .flex img {
  width: 22%;
  max-width: 75px;
  margin-bottom: 1em;
  display: block;
  margin-right: auto 0;
}
#Resume .certification-wrapper {
  width: 100%;
}
#Resume .certification-wrapper .credential {
  margin-bottom: 0.75em;
}
#Resume .certification-wrapper .credential h6:first-child {
  margin-bottom: 0.2em;
  font-family: "Inter", sans-serif;
}
#Resume .certification-wrapper .credential h6:last-child {
  margin-bottom: 0.2em;
  color: #1f9588;
  font-weight: 400;
}
#Resume .certification-wrapper .credential h6 {
  margin-bottom: 0;
  line-height: 1.2;
}
#Resume .certification-wrapper .credential .column-30 {
  width: 100%;
}
#Resume .certification-wrapper .credential .column-30 p {
  color: #354555;
}

@media (min-width: 600px) {
  #Resume .slick-container .flex img {
    max-width: 100px;
    margin-bottom: 1.5em;
  }
}
@media (min-width: 768px) {
  #Resume .flex .container {
    width: min(40%, 90rem);
  }
  #Resume .flex .technical-certification .container {
    width: min(80%, 80rem);
  }
  #Resume .work-experience .intenship {
    max-width: 650px;
  }
  #Resume .work-experience .intenship .logo-wrapper img {
    max-width: 250px;
    margin-bottom: 0;
  }
  #Resume .slick-container {
    margin-top: -15px;
  }
  #Resume .slick-container .slick-slider {
    width: 100%;
    max-width: 650px;
  }
  #Resume .slick-container .flex img {
    max-width: 80px;
  }
  #Resume .certification-wrapper {
    width: 100%;
  }
  #Resume .certification-wrapper .credential {
    margin-bottom: 0.75em;
  }
  #Resume .certification-wrapper .credential .flex {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  #Resume .work-experience .intenship {
    max-width: 700px;
  }
  #Resume .work-experience .intenship .logo-wrapper img {
    max-width: 100px;
  }
  #Resume .slick-container {
    margin-top: -50px;
  }
  #Resume .slick-container .flex img {
    max-width: 100px;
    margin-bottom: 1.5em;
  }
  #Resume .certification-wrapper .credential {
    margin-bottom: 1em;
  }
  #Resume .certification-wrapper .credential h6:first-child {
    font-size: 0.95rem;
  }
  #Resume .certification-wrapper .credential h6:last-child {
    font-size: 0.75rem;
  }
}
@media (min-width: 1600px) {
  #Resume .work-experience .intenship .logo-wrapper img {
    max-width: 120px;
  }
  #Resume .slick-container {
    margin-top: -5px;
  }
  #Resume .slick-container .flex img {
    max-width: 120px;
  }
  #Resume .certification-wrapper .credential h6:first-child {
    font-size: 0.95rem;
  }
  #Resume .certification-wrapper .credential h6:last-child {
    font-size: 0.75rem;
  }
  #Resume .certification-wrapper .credential .flex {
    flex-direction: row;
    justify-content: space-between;
  }
  #Resume .certification-wrapper .credential .column-30 {
    width: 30%;
  }
  #Resume .certification-wrapper .credential .column-70 {
    width: 70%;
  }
}
#portfolio {
  padding: 0;
  margin-top: 0.4em;
  position: relative;
}
#portfolio .flex {
  align-items: flex-start;
}
#portfolio .flex .container {
  width: min(80%, 90rem);
  margin-inline: auto;
}
#portfolio .flex .col-60 {
  position: relative;
  padding: 3em 0;
}
#portfolio .flex .col-60 .absolute-project-links {
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  top: 20%;
  flex-direction: row;
}
#portfolio .flex .col-60 .absolute-project-links .column-25 {
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}
#portfolio .flex .col-60 .absolute-project-links .column-25:hover {
  transform: scale(1.1);
  z-index: 9999 !important;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#portfolio .flex .col-60 .position-absolute-2 {
  margin-top: 7em;
  max-width: 600px;
}
#portfolio .flex .col-60 .position-absolute-2 .about-web-projects {
  width: 100%;
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used {
  margin-top: 1em;
  width: 100%;
  max-width: 600px;
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used h6 {
  margin-bottom: 1em;
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used ul.technologies {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used ul.technologies li {
  width: auto;
  background-color: #ececec;
  padding: 0.3em 1em;
  margin-right: 0.5em;
  margin-bottom: 0.75em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used ul.external-link {
  width: auto;
  margin-top: 0.5em;
  min-height: 2vh;
  line-height: 2vh;
  padding: 0.25em 0;
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used ul.external-link li {
  display: inline-block;
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used ul.external-link li::after {
  content: "|";
  color: #354555;
  padding-inline: 0.5em;
  font-size: inherit;
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used ul.external-link li:last-child:after {
  content: "";
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used ul.external-link li:first-child a {
  padding: 0.5em 0.75em;
  text-align: center;
}
#portfolio .flex .col-60 .position-absolute-2 .technology-used ul.external-link li:last-child a {
  font-weight: 600;
}
#portfolio .default-hidden {
  display: none;
}

@media (min-width: 768px) {
  #portfolio .tablet-flex {
    flex-direction: column;
  }
  #portfolio .col-60 {
    width: 100%;
  }
  #portfolio .col-60 .position-absolute-2 {
    margin-top: 9em;
    max-width: 700px;
    margin-inline: 0 auto;
  }
  #portfolio .col-60 .position-absolute-2 .about-web-projects,
#portfolio .col-60 .position-absolute-2 .project-details {
    width: 100%;
  }
  #portfolio .default-hidden {
    display: none;
  }
}
@media (min-width: 992px) {
  #portfolio .tablet-flex {
    flex-direction: row;
  }
  #portfolio .col-60 {
    width: 60%;
    padding-bottom: 0;
    margin-top: 0;
  }
  #portfolio .col-60 .position-absolute-2 {
    margin-top: 50%;
    width: 100%;
    max-width: 700px;
  }
  #portfolio .col-60 .position-absolute-2 .about-web-projects,
#portfolio .col-60 .position-absolute-2 .project-details {
    width: 100%;
  }
  #portfolio .col-60 .position-absolute-2 .project-details {
    width: 60%;
  }
  #portfolio .col-60 .position-absolute-2 .project-image-container {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 999;
    left: 65%;
    top: 35%;
  }
  #portfolio .col-60 .position-absolute-2 .project-image-container img {
    width: 100%;
    max-width: 550px;
    height: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  #portfolio .default-hidden {
    display: block;
    min-height: 850px;
  }
}
@media (min-width: 1200px) {
  #portfolio .col-60 .position-absolute-2 .project-details {
    width: 70%;
  }
  #portfolio .col-60 .position-absolute-2 .project-image-container {
    left: 75%;
  }
}
@media (min-width: 1400px) {
  #portfolio .col-60 .position-absolute-2 .project-details {
    margin-top: 2em;
  }
  #portfolio .col-60 .position-absolute-2 .project-image-container {
    left: 65%;
    top: 36%;
  }
  #portfolio .col-60 .position-absolute-2 .project-image-container img {
    max-width: 700px;
  }
  #portfolio .default-hidden {
    min-height: 1000px;
  }
}
@media (min-width: 1600px) {
  #portfolio .col-60 .position-absolute-2 .project-details {
    margin-top: 8em;
  }
  #portfolio .col-60 .position-absolute-2 .project-image-container {
    top: 42%;
  }
}
#testimonials {
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../asset/testimonials-bg-img-icon/testimonials-mobile.jpg");
  min-height: 200px;
  width: 100%;
  background-size: contain;
}
#testimonials .slick-slider-container {
  width: 100%;
}
#testimonials .slick-slider-container .flex .img-wrapper {
  width: 100%;
  max-width: 300px;
  margin-inline: auto;
  margin-bottom: 1em;
}
#testimonials .slick-slider-container .flex .img-wrapper img {
  width: 100px;
  height: 100px;
  margin-inline: auto;
  border-radius: 50%;
}
#testimonials .slick-slider-container .flex .comment {
  width: 100%;
  max-width: 600px;
}
#testimonials .slick-slider-container .flex .comment iconify-icon {
  font-size: 2em;
  padding-right: 0.5em;
  color: #354555;
}
#testimonials .slick-slider-container .flex .comment h6.text-navy-blue {
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
#testimonials .slick-slider-container .flex .comment .faint-horizontal-line-width-50px {
  border: 1px solid #354555;
  margin: 0.5em 0;
  width: 40%;
  max-width: 200px;
}
#testimonials .slick-slider-container .flex .comment h6.normal-font-style {
  margin-bottom: 0;
  text-align: left;
  font-style: normal;
  font-weight: 600;
}
#testimonials .slick-slider-container .flex .comment p {
  color: #354555;
}

@media (min-width: 768px) {
  #testimonials {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../asset/testimonials-bg-img-icon/testimonials.jpg");
    background-size: contain;
  }
  #testimonials .slick-slider-container .flex {
    align-items: flex-start;
  }
  #testimonials .slick-slider-container .flex .img-wrapper {
    width: 20%;
    margin-inline: auto;
    margin-bottom: 0;
  }
  #testimonials .slick-slider-container .flex .img-wrapper img {
    width: 100px;
    height: 100px;
    margin-inline: 0 auto;
    margin-top: 1em;
  }
  #testimonials .slick-slider-container .flex .comment {
    width: 80%;
    max-width: 650px;
  }
  #testimonials .slick-slider-container .flex .comment iconify-icon {
    padding-right: 0.25em;
  }
  #testimonials .slick-slider-container .flex .comment h6.text-navy-blue {
    text-align: left;
  }
  #testimonials .slick-slider-container .flex .comment .faint-horizontal-line-width-50px {
    max-width: 150px;
  }
}
@media (min-width: 992px) {
  #testimonials {
    padding: 2.5em 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #testimonials .slick-slider-container {
    max-width: 800px;
    margin-inline: auto;
    margin-bottom: -5%;
    padding-inline: 0;
  }
  #testimonials .slick-slider-container .flex {
    width: 100%;
    max-width: 800px;
    margin-inline: 0;
  }
  #testimonials .slick-slider-container .flex .img-wrapper {
    width: 15%;
    margin-inline: auto 0;
  }
  #testimonials .slick-slider-container .flex .img-wrapper img {
    width: 110px;
    height: 110px;
    margin-top: 1em;
  }
  #testimonials .slick-slider-container .flex .comment {
    width: 85%;
    max-width: 650px;
    margin-left: auto;
    padding-left: 1em;
  }
  #testimonials .slick-slider-container .flex .comment iconify-icon {
    padding-right: 0.25em;
  }
}
@media (min-width: 1200px) {
  #testimonials {
    padding-bottom: 3em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  #testimonials .slick-slider-container {
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: -5%;
  }
  #testimonials .slick-slider-container .flex .img-wrapper img {
    width: 120px;
    height: 120px;
  }
  #testimonials .slick-slider-container .flex .comment {
    max-width: 750px;
  }
  #testimonials .slick-slider-container .flex .comment iconify-icon {
    font-size: 2.5em;
  }
}
@media (min-width: 1600px) {
  #testimonials {
    padding-bottom: 6em;
  }
  #testimonials .slick-slider-container {
    max-width: 1050px;
    margin-inline: auto;
    margin-bottom: -5%;
  }
  #testimonials .slick-slider-container .flex {
    max-width: 1050px;
  }
  #testimonials .slick-slider-container .flex .img-wrapper img {
    width: 130px;
    height: 130px;
  }
  #testimonials .slick-slider-container .flex .comment {
    max-width: 950px;
    margin-left: auto;
  }
  #testimonials .slick-slider-container .flex .comment iconify-icon {
    font-size: 3em;
  }
  #testimonials .slick-slider-container .flex .comment h6.main-comment {
    font-size: 0.8em;
  }
}
#footer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../asset/footer/bg-img-blackpopex-footer.jpg");
  background-size: cover;
  overflow: hidden;
  padding: 2em 0;
  margin-bottom: 1em;
}
#footer form {
  width: 100%;
  max-width: 500px;
  margin-left: 0 auto;
  padding: 0.5em 0;
}
#footer form .form-wrapper {
  width: 100%;
}
#footer form .form-wrapper .flex {
  width: 100%;
}
#footer form .form-wrapper :first-child.flex {
  margin-bottom: 0.5em;
}
#footer form .form-wrapper .column-49 {
  width: 100%;
  margin-bottom: 0.25em;
}
#footer form .form-wrapper .column-49 input[type=text] {
  width: 100%;
  font-size: 0.6em;
  padding: 0.5em 0.5em;
  font-family: "Slabo 27px", serif;
  font-weight: 300;
  border: none;
  outline: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  color: #ececec;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
#footer form .form-wrapper textarea,
#footer form .form-wrapper button {
  width: 100%;
  font-size: 0.6em;
  padding: 0.5em 0.5em;
  font-family: "Slabo 27px", serif;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  color: #ececec;
  border: none;
  resize: none;
}
#footer form .form-wrapper textarea {
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
#footer form .form-wrapper textarea:focus,
#footer form .form-wrapper input[type=text]:focus {
  border: none;
  outline: none;
}
#footer form .form-wrapper button {
  border: 1px solid #1f9588;
  width: auto;
  padding: 0.5em 4em;
}
#footer .info-container .info-wrapper {
  width: 100%;
  max-width: 500px;
  margin-left: 0 auto;
  margin-top: 1em;
  display: flex;
  align-items: center;
}
#footer .info-container .info-wrapper .flex {
  width: 55%;
  max-width: 250px;
  margin-left: 0 auto;
}
#footer .info-container .info-wrapper .envelope-phone-contact {
  border-right: 1px solid #ececec;
}
#footer .info-container .info-wrapper .box {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 220px;
  margin-left: 0 auto;
  text-align: left;
  margin-bottom: 0.5em;
}
#footer .info-container .info-wrapper .box .fa {
  width: 10%;
  color: #1f9588;
  margin-right: 0.75em;
}
#footer .info-container .info-wrapper .box div,
#footer .info-container .info-wrapper .box a {
  width: 90%;
  color: #ffffff;
  font-weight: 300;
}
#footer .info-container .info-wrapper .box div p {
  margin-bottom: 0;
  line-height: 1.2;
}
#footer .info-container .info-wrapper .social-network-wrapper {
  width: 50%;
  max-width: 150px;
  margin-left: 1em;
  margin-inline: auto;
}
#footer .info-container .info-wrapper .social-network-wrapper a {
  margin-right: 20px;
}
#footer .info-container .info-wrapper .social-network-wrapper .fa {
  color: #ffffff;
  font-size: 1.3em;
}
#footer .info-container .copyright {
  width: 100%;
  margin-top: 1em;
  text-align: center;
  color: white;
}
#footer .info-container .copyright p a {
  color: #ffffff;
}
#footer .info-container .copyright p {
  line-height: 0.8;
}
#footer .info-container .copyright p small {
  font-size: 0.9em;
}

@media (min-width: 600px) {
  #footer .info-container .info-wrapper .social-network-wrapper {
    max-width: 200px;
  }
  #footer .info-container .info-wrapper .social-network-wrapper a {
    margin-right: 0;
  }
  #footer .info-container .info-wrapper .social-network-wrapper .fa {
    font-size: 1.5em;
    width: 28%;
    margin-inline: auto;
  }
  #footer .info-container .copyright p small {
    font-size: 0.95em;
  }
}
@media (min-width: 768px) {
  #footer {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../asset/footer/footer.jpg");
    overflow: hidden;
    padding: 2em 0;
    margin-bottom: 0;
    background-position: 5% 5%;
  }
  #footer .form-container,
#footer .info-container {
    width: 50%;
  }
  #footer form .form-wrapper .column-49 {
    width: 49%;
    margin-bottom: 0;
  }
  #footer form .form-wrapper .column-49 input[type=text] {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  #footer form .form-wrapper textarea,
#footer form .form-wrapper button {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
  }
  #footer form .form-wrapper textarea {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  #footer form .form-wrapper button {
    padding: 0.5em 2em;
    background-color: inherit;
    color: #ffffff;
  }
  #footer .info-container {
    margin-left: 1.5em;
  }
  #footer .info-container .info-wrapper {
    max-width: 300px;
    margin-inline: auto;
    margin-top: 2em;
    flex-direction: column;
  }
  #footer .info-container .info-wrapper .flex {
    width: 100%;
    margin-left: 0 auto;
    max-width: 300px;
  }
  #footer .info-container .info-wrapper .envelope-phone-contact {
    border-right: 0;
    flex-direction: column;
    line-height: 0;
  }
  #footer .info-container .info-wrapper .box {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-inline: 0 auto;
    text-align: left;
    margin-bottom: 0.25em;
  }
  #footer .info-container .info-wrapper .box .fa {
    width: 10%;
    margin-right: 0.75em;
  }
  #footer .info-container .info-wrapper .box div p {
    margin-bottom: 0;
    line-height: 1.2;
  }
  #footer .info-container .info-wrapper .social-network-wrapper {
    width: 100%;
    max-width: 200px;
    margin-left: 0;
    margin-inline: 0 auto;
  }
  #footer .copyright {
    max-width: 300px;
    margin-inline: auto;
  }
  #footer .copyright p a {
    text-align: left;
  }
  #footer .copyright p {
    line-height: 0.8;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #footer {
    padding-bottom: 1em;
  }
  #footer .form-container,
#footer .info-container {
    width: 50%;
  }
  #footer form .form-wrapper button {
    padding: 0.5em 4em;
  }
  #footer .info-container {
    margin-left: 1em;
  }
  #footer .info-container .info-wrapper {
    max-width: 425px;
  }
  #footer .info-container .info-wrapper .flex {
    max-width: 425px;
  }
  #footer .info-container .info-wrapper .envelope-phone-contact {
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5em;
  }
  #footer .info-container .info-wrapper .box {
    width: 50%;
    max-width: 400px;
    margin-bottom: 0.25em;
  }
  #footer .info-container .info-wrapper .box .fa {
    width: 10%;
    margin-right: 0.75em;
  }
  #footer .info-container .info-wrapper .social-network-wrapper {
    max-width: 250px;
  }
  #footer .copyright {
    max-width: 425px;
    margin-inline: auto;
  }
  #footer .copyright p a {
    text-align: left;
  }
  #footer .copyright p {
    line-height: 0.8;
    text-align: left;
  }
}
@media (min-width: 1600px) {
  #footer .form-container {
    width: 45%;
  }
  #footer .info-container {
    width: 55%;
    margin-top: -25px;
  }
  #footer .info-container .info-wrapper {
    max-width: 500px;
    margin-inline: 0 auto;
  }
  #footer .info-container .info-wrapper .flex {
    max-width: 500px;
  }
  #footer .info-container .info-wrapper .envelope-phone-contact {
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5em;
  }
  #footer .info-container .info-wrapper .social-network-wrapper {
    max-width: 250px;
  }
  #footer .info-container .copyright {
    max-width: 500px;
    margin-inline: 0 auto;
  }
  #footer .info-container .copyright p small,
#footer .info-container .copyright p a {
    font-size: 0.85em;
  }
}/*# sourceMappingURL=main.css.map */