@import "boxshadow";
@import "colors";
@import "fontfamily";
@import "fontweight";
@import "reset";

//********FOR VARIOUS DEVICE WIDTH*********//
$mobile: 600px;
$tablet: 768px;
$landScape_tablet: 992px;
$laptop: 1200px;
$large_desktop: 1600px;

//********OTHER VARIABLES*********//
$Width_100: 100%;
$inline-block: inline-block;
$left_inline-auto: 0 auto;
$right_inline-auto: auto 0;
$inline: auto;

//********FOR FAMILY FOR VARIOUS ELEMENT*********//

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin btn {
  padding: 0.5em 2em;
  cursor: pointer;
  display: inline-block;
  width: auto;
}
h1,
h2 {
  font-family: $Inter-fontFamily-h1-h2;
  font-weight: $bold-font-weight;
}
h3 {
  font-family: $Inter-fontFamily-h1-h2;
  font-weight: $next2-bold-font-weight;
}
h4,
h5 {
  font-family: $Poppins-fontFamily-h4-h5;
  font-weight: $next2-bold-font-weight;
}
a,
p,
ul li,
button {
  font-family: $slabo-fontFamily-paragraph-links-button;
  font-weight: $thin-font-weight;
}
.text-grey {
  color: $next-primary-color;
}
.text-black {
  color: $black-color;
}
.text-green {
  color: $green-color;
}
.text-white {
  color: $white-color;
}
.text-navy-blue {
  color: $primary-color;
}
.bg-grey {
  background-color: $next-primary-color;
}
.bg-green {
  background-color: $green-color;
}
.bg-white {
  background-color: $white-color;
}
.text-left {
  text-align: left;
}
.faint-horizontal-line {
  border: 1px solid $next-primary-color;
  margin: 0.5em 0;
}

.column-30 {
  width: 30%;
}

.inline-block li {
  display: $inline-block;
}

.herotext-wrapper {
  a.btn {
    @include btn;
  }
}

//OTHER SASS CODES
.hearder-hero-main-wrapper {
  @include background-image;
  background-image: url("../asset/header/bg-img-blackpopex-mobile.jpg");
  min-height: 100px;
}
#navba_hero_container {
  .navbar-wrapper .flex {
    flex-direction: row;
  }
  #blackpopex_logo {
    max-width: 200px;
    width: auto;
    margin-left: -1em;
    margin-top: 2em;
    img {
      max-width: 100px;
    }
  }
}
nav {
  @include flex;
  position: fixed;
  background-color: $primary-color;
  bottom: 0;
  left: 0;
  width: $Width_100;
  z-index: 2;
  min-height: 6vh;
  padding: 0.5em 1em;
  box-shadow: $next3-box-shadow;

  .hamburger-menu {
    cursor: pointer;
    display: block;
    width: auto;
    margin-inline: $inline;
  }
  .span {
    height: 4px;
    margin-bottom: 6px;
    background-color: $green-color;
    border-radius: 16px;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  }
  .span:last-child {
    margin-bottom: 0;
  }
  .bar1 {
    width: 40px;
  }
  .bar2 {
    width: 35px;
  }
  .bar3 {
    width: 30px;
  }
  .change .bar1 {
    transform: translateX(-10px);
  }
  .change .bar2 {
    opacity: 0;
    margin-bottom: 2px;
  }
  .change .bar3 {
    transform: translateX(10px);
  }
  .navbarLinks {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 6vh;
    width: 0;
    min-height: 94vh;
    background-color: $primary-color;
    z-index: 1;
    padding-top: 2em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    transition: width 1s ease-in-out, right 0.5s ease-in-out;
    z-index: 999999;
  }
  .increase-width {
    width: 260px;
  }

  @media (min-width: $mobile) {
    .increase-width {
      width: 300px;
    }
  }
  #menu {
    width: $Width_100;
  }
  #menu li {
    display: block;
    width: $Width_100;
    margin-bottom: 1.5em;
  }
  #menu li a {
    padding: 8px 8px 8px 32px;
    font-size: 1.5em;
    color: $white-color;
  }
  #menu li a.active {
    color: $green-color;
  }
}

@media (min-width: $tablet) {
  #navba_hero_container {
    #blackpopex_logo {
      width: 30%;
    }
  }
  nav {
    @include flex;
    position: relative;
    background-color: inherit;
    bottom: auto;
    left: auto;
    width: 70%;
    max-width: auto;
    z-index: 2;
    min-height: auto;
    padding: 0;
    box-shadow: none;

    .hamburger-menu {
      display: none;
    }

    .navbarLinks {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      width: auto;
      margin-inline: $right_inline-auto;
      min-height: auto;
      background-color: inherit;
      z-index: 1;
      padding-top: 0;
      box-shadow: none;
      overflow-y: hidden;
      overflow-x: hidden;
      display: block;
    }
    #menu {
      width: $Width_100;
      margin-left: $right_inline-auto;
    }

    #menu li {
      display: inline-block;
      width: auto;
      margin-bottom: 0;
    }
    #menu li a {
      padding: 1em 0.5em;
      font-size: 1.1em;
      font-weight: $half-bold-font-weight;
    }
  }
}

@media (min-width: $landScape_tablet) {
  .hearder-hero-main-wrapper {
    @include background-image;
    background-image: url("../asset/header/background-hero-image.jpg");
    min-height: -150px;
    margin-top: -35px;
  }
  #navba_hero_container {
    margin-top: 1em;
  }

  nav {
    #menu li {
      margin-right: 1em;
    }
    #menu li a {
      padding: 1em 0.5em;
      font-size: 1.1em;
    }
  }
}

@media (min-width: $laptop) {
  #navba_hero_container {
    margin-top: 0;

    #blackpopex_logo {
      img {
        max-width: 110px;
      }
    }
  }
  .hearder-hero-main-wrapper {
    @include background-image;
    min-height: auto;
    margin-top: 0;
  }
  nav {
    #menu li {
      margin-right: 1.25em;
    }
    #menu li a {
      font-size: 1.25em;
    }
  }
}
@media (min-width: $large_desktop) {
  #navba_hero_container {
    #blackpopex_logo {
      img {
        max-width: 120px;
      }
    }
  }

  nav {
    #menu li {
      margin-right: 1.5em;
    }
    #menu li a {
      font-size: 1.4em;
    }
  }
}
.herotext-wrapper {
  max-width: 600px;
  margin-inline: $left_inline-auto;
  h5 {
    margin-bottom: 0.25em;
  }
  h1 {
    margin-bottom: 0.2em;
    line-height: 0.8;
  }
  p {
    margin-bottom: 1em;
  }
}

@media (min-width: $tablet) {
  .herotext-wrapper {
    max-width: 500px;
  }
}
@media (min-width: $laptop) {
  .herotext-wrapper {
    max-width: 600px;
  }
}
@media (min-width: $large_desktop) {
  .herotext-wrapper {
    max-width: 650px;
  }
}

//ABOUT_ME

#about_me {
  padding: 0;
  margin: 0;

  .flex {
    margin-bottom: 10px;
    .col-20 {
      .container {
        width: min(40%, 40rem);
        margin-inline: $inline;
      }
      img {
        max-width: 500px;
        width: 100%;
        margin: 2em 0;
      }
    }
    .col-80 {
      padding: 3em 0;
      margin-bottom: 0;
    }
    .col-80 {
      .container {
        width: min(85%, 80rem);
        margin-inline: $inline;
      }
    }
  }
}

@media (min-width: $tablet) {
  #about_me {
    .flex {
      .col-20 {
        img {
          margin: 0;
        }
      }
      .col-80 {
        padding: 3em 0;
      }
    }
  }
}

//RESUME SECTION
#Resume {
  padding: 0;
  margin: 0;
  .flex {
    align-items: flex-start;
    .container {
      width: min(85%, 90rem);
      margin-inline: $inline;
      padding: 3em 0;
    }
    .school-attended {
      margin-bottom: 2em;

      h5 {
        margin-bottom: 0;
      }
      h6 {
        margin-bottom: 0;
        font-weight: 300;
      }
      .text-green {
        margin-bottom: 0;
      }
    }
  }

  .work-experience {
    margin-top: 1em;
    h5.text-navy-blue {
      margin-bottom: 0.75em;
    }
    .intenship {
      margin-bottom: 0.25em;
      padding: 1em;
      width: $Width_100;
      max-width: 600px;

      .logo-wrapper img {
        max-width: 300px;
        margin-inline: $left_inline-auto;
        margin-bottom: 0.25em;
      }
      h6.bold-font {
        font-weight: $next3-bold-font-weight;
      }
      h6.tiny-text {
        line-height: 1.2;
        margin-bottom: 0.75em;
      }
      .date-of-intenship li {
        color: $primary-color;
      }
      .date-of-intenship li::after {
        content: "|";
        font-size: 0.75rem;
        padding-inline: 0.5em;
      }
      .date-of-intenship li:last-child::after {
        content: "";
      }
    }
  }
  .slick-container {
    margin-top: -25px;
    .slick-slider {
      width: $Width_100;
      max-width: 600px;
    }
    .flex {
      flex-direction: row;
      img {
        width: 22%;
        max-width: 75px;
        margin-bottom: 1em;
        display: block;
        margin-right: $right_inline-auto;
      }
    }
  }
  .certification-wrapper {
    width: $Width_100;
    .credential {
      margin-bottom: 0.75em;
      h6:first-child {
        margin-bottom: 0.2em;
        font-family: $Inter-fontFamily-h1-h2;
      }
      h6:last-child {
        margin-bottom: 0.2em;
        color: $green-color;
        font-weight: 400;
      }
      h6 {
        margin-bottom: 0;
        line-height: 1.2;
      }
      .column-30 {
        width: 100%;
        p {
          color: $primary-color;
        }
      }
    }
  }
}

@media (min-width: $mobile) {
  #Resume {
    .slick-container {
      .flex {
        img {
          max-width: 100px;
          margin-bottom: 1.5em;
        }
      }
    }
  }
}
@media (min-width: $tablet) {
  #Resume {
    .flex {
      .container {
        width: min(40%, 90rem);
      }
      .technical-certification .container {
        width: min(80%, 80rem);
      }
    }

    .work-experience {
      .intenship {
        max-width: 650px;

        .logo-wrapper img {
          max-width: 250px;
          margin-bottom: 0;
        }
      }
    }
    .slick-container {
      margin-top: -15px;

      .slick-slider {
        width: $Width_100;
        max-width: 650px;
      }
      .flex {
        img {
          max-width: 80px;
        }
      }
    }
    .certification-wrapper {
      width: $Width_100;
      .credential {
        margin-bottom: 0.75em;
        .flex {
          flex-direction: column;
        }
      }
    }
  }
}

@media (min-width: $laptop) {
  #Resume {
    .work-experience {
      .intenship {
        max-width: 700px;

        .logo-wrapper img {
          max-width: 100px;
        }
      }
    }
    .slick-container {
      margin-top: -50px;
      .flex {
        img {
          max-width: 100px;
          margin-bottom: 1.5em;
        }
      }
    }
    .certification-wrapper {
      .credential {
        margin-bottom: 1em;
        h6:first-child {
          font-size: 0.95rem;
        }
        h6:last-child {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media (min-width: $large_desktop) {
  #Resume {
    .work-experience {
      .intenship {
        .logo-wrapper img {
          max-width: 120px;
        }
      }
    }
    .slick-container {
      margin-top: -5px;
      .flex {
        img {
          max-width: 120px;
        }
      }
    }
    .certification-wrapper {
      .credential {
        h6:first-child {
          font-size: 0.95rem;
        }
        h6:last-child {
          font-size: 0.75rem;
        }
        .flex {
          flex-direction: row;
          justify-content: space-between;
        }
        .column-30 {
          width: 30%;
        }
        .column-70 {
          width: 70%;
        }
      }
    }
  }
}

//PORTFOLIO

#portfolio {
  padding: 0;
  margin-top: 0.4em;
  position: relative;

  .flex {
    align-items: flex-start;
    .container {
      width: min(80%, 90rem);
      margin-inline: $inline;
    }

    .col-60 {
      position: relative;
      padding: 3em 0;
      .absolute-project-links {
        position: absolute;
        width: auto;
        left: 0;
        right: 0;
        top: 20%;
        flex-direction: row;
        .column-25 {
          transition: transform 0.5s ease-in-out;
          transform: scale(1);
        }
        .column-25:hover {
          transform: scale(1.1);
          z-index: 9999 !important;
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        }
      }
      .position-absolute-2 {
        margin-top: 7em;
        max-width: 600px;
        .about-web-projects {
          width: $Width_100;
        }
        .technology-used {
          margin-top: 1em;
          width: $Width_100;
          max-width: 600px;
          h6 {
            margin-bottom: 1em;
          }
          ul.technologies {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            flex-wrap: wrap;
            li {
              width: auto;
              background-color: $next-primary-color;
              padding: 0.3em 1em;
              margin-right: 0.5em;
              margin-bottom: 0.75em;
              box-shadow: $next-box-shadow;
            }
          }
          ul.external-link {
            width: auto;
            margin-top: 0.5em;
            min-height: 2vh;
            line-height: 2vh;
            padding: 0.25em 0;
            li {
              display: inline-block;
            }
            li::after {
              content: "|";
              color: $primary-color;
              padding-inline: 0.5em;
              font-size: inherit;
            }
            li:last-child:after {
              content: "";
            }
            li:first-child a {
              padding: 0.5em 0.75em;
              text-align: center;
            }
            li:last-child a {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .default-hidden {
    display: none;
  }
}

@media (min-width: $tablet) {
  #portfolio {
    .tablet-flex {
      flex-direction: column;
    }
    .col-60 {
      width: 100%;

      .position-absolute-2 {
        margin-top: 9em;
        max-width: 700px;
        margin-inline: $left_inline-auto;
        .about-web-projects,
        .project-details {
          width: $Width_100;
        }
      }
    }
    .default-hidden {
      display: none;
    }
  }
}

@media (min-width: $landScape_tablet) {
  #portfolio {
    .tablet-flex {
      flex-direction: row;
    }
    .col-60 {
      width: 60%;
      padding-bottom: 0;
      margin-top: 0;

      .position-absolute-2 {
        margin-top: 50%;
        width: 100%;
        max-width: 700px;
        .about-web-projects,
        .project-details {
          width: $Width_100;
        }
        .project-details {
          width: 60%;
        }
        .project-image-container {
          position: absolute;
          width: 100%;
          height: auto;
          z-index: 999;
          left: 65%;
          top: 35%;
          img {
            width: 100%;
            max-width: 550px;
            height: auto;
            box-shadow: $next-box-shadow;
          }
        }
      }
    }

    .default-hidden {
      display: block;
      min-height: 850px;
    }
  }
}

@media (min-width: $laptop) {
  #portfolio {
    .col-60 {
      .position-absolute-2 {
        .project-details {
          width: 70%;
        }
        .project-image-container {
          left: 75%;
        }
      }
    }
  }
}
@media (min-width: 1400px) {
  #portfolio {
    .col-60 {
      .position-absolute-2 {
        .project-details {
          margin-top: 2em;
        }
        .project-image-container {
          left: 65%;
          top: 36%;
          img {
            max-width: 700px;
          }
        }
      }
    }
    .default-hidden {
      min-height: 1000px;
    }
  }
}
@media (min-width: 1600px) {
  #portfolio {
    .col-60 {
      .position-absolute-2 {
        .project-details {
          margin-top: 8em;
        }
        .project-image-container {
          top: 42%;
        }
      }
    }
  }
}

//TESTIMONIALS
#testimonials {
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
  @include background-image;
  background-image: url("../asset/testimonials-bg-img-icon/testimonials-mobile.jpg");
  min-height: 200px;
  width: $Width_100;
  background-size: contain;
  .slick-slider-container {
    width: $Width_100;
    .flex {
      .img-wrapper {
        width: $Width_100;
        max-width: 300px;
        margin-inline: $inline;
        margin-bottom: 1em;
        img {
          width: 100px;
          height: 100px;
          margin-inline: $inline;
          border-radius: 50%;
        }
      }
      .comment {
        width: $Width_100;
        max-width: 600px;
        iconify-icon {
          font-size: 2em;
          padding-right: 0.5em;
          color: $primary-color;
        }
        h6.text-navy-blue {
          font-style: italic;
          font-weight: 300;
          text-align: center;
        }
        .faint-horizontal-line-width-50px {
          border: 1px solid $primary-color;
          margin: 0.5em 0;
          width: 40%;
          max-width: 200px;
        }
        h6.normal-font-style {
          margin-bottom: 0;
          text-align: left;
          font: {
            style: normal;
            weight: $next3-bold-font-weight;
          }
        }
        p {
          color: $primary-color;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  #testimonials {
    @include background-image;
    background-image: url("../asset/testimonials-bg-img-icon/testimonials.jpg");
    background-size: contain;
    .slick-slider-container {
      .flex {
        align-items: flex-start;
        .img-wrapper {
          width: 20%;
          margin-inline: $inline;
          margin-bottom: 0;
          img {
            width: 100px;
            height: 100px;
            margin-inline: $left_inline-auto;
            margin-top: 1em;
          }
        }
        .comment {
          width: 80%;
          max-width: 650px;
          iconify-icon {
            padding-right: 0.25em;
          }
          h6.text-navy-blue {
            text-align: left;
          }

          .faint-horizontal-line-width-50px {
            max-width: 150px;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #testimonials {
    padding: 2.5em 0;
    @include background-image;
    background-size: contain;
    .slick-slider-container {
      max-width: 800px;
      margin-inline: $inline;
      margin-bottom: -5%;
      padding-inline: 0;
      .flex {
        width: $Width_100;
        max-width: 800px;
        margin-inline: 0;

        .img-wrapper {
          width: 15%;
          margin-inline: auto 0;

          img {
            width: 110px;
            height: 110px;
            margin-top: 1em;
          }
        }
        .comment {
          width: 85%;
          max-width: 650px;
          margin-left: auto;
          padding-left: 1em;
          iconify-icon {
            padding-right: 0.25em;
          }
        }
      }
    }
  }
}

@media (min-width: $laptop) {
  #testimonials {
    padding-bottom: 3em;
    @include background-image;
    background-size: contain;
    background-position: center;
    .slick-slider-container {
      max-width: 900px;
      margin-inline: $inline;
      margin-bottom: -5%;
      .flex {
        .img-wrapper {
          img {
            width: 120px;
            height: 120px;
          }
        }
        .comment {
          max-width: 750px;
          iconify-icon {
            font-size: 2.5em;
          }
        }
      }
    }
  }
}

@media (min-width: $large_desktop) {
  #testimonials {
    padding-bottom: 6em;
    .slick-slider-container {
      max-width: 1050px;
      margin-inline: $inline;
      margin-bottom: -5%;
      .flex {
        max-width: 1050px;
        .img-wrapper {
          img {
            width: 130px;
            height: 130px;
          }
        }
        .comment {
          max-width: 950px;
          margin-left: auto;
          iconify-icon {
            font-size: 3em;
          }
          h6.main-comment {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

//FOOTER
#footer {
  @include background-image;
  background-image: url("../asset/footer/bg-img-blackpopex-footer.jpg");
  background-size: cover;
  overflow: hidden;
  padding: 2em 0;
  margin-bottom: 1em;

  form {
    width: $Width_100;
    max-width: 500px;
    margin-left: $left_inline-auto;
    padding: 0.5em 0;
    .form-wrapper {
      width: $Width_100;
      .flex {
        width: $Width_100;
      }
      :first-child.flex {
        margin-bottom: 0.5em;
      }

      .column-49 {
        width: $Width_100;
        margin-bottom: 0.25em;
        input[type="text"] {
          width: $Width_100;
          font-size: 0.6em;
          padding: 0.5em 0.5em;
          font: {
            family: $slabo-fontFamily-paragraph-links-button;
            weight: $thin-font-weight;
          }
          border: none;
          outline: 0;
          box-sizing: border-box;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.6);
          color: $next-primary-color;
          box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
        }
      }
      textarea,
      button {
        width: $Width_100;
        font-size: 0.6em;
        padding: 0.5em 0.5em;
        font-family: $slabo-fontFamily-paragraph-links-button;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.6);
        color: $next-primary-color;
        border: none;
        resize: none;
      }
      textarea {
        box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
      }
      textarea:focus,
      input[type="text"]:focus {
        border: none;
        outline: none;
      }
      button {
        border: 1px solid $green-color;
        width: auto;
        padding: 0.5em 4em;
      }
    }
  }

  .info-container {
    .info-wrapper {
      width: $Width_100;
      max-width: 500px;
      margin-left: $left_inline-auto;
      margin-top: 1em;
      display: flex;
      align-items: center;

      .flex {
        width: 55%;
        max-width: 250px;
        margin-left: $left_inline-auto;
      }
      .envelope-phone-contact {
        border-right: 1px solid $next-primary-color;
      }

      .box {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 220px;
        margin-left: $left_inline-auto;
        text-align: left;
        margin-bottom: 0.5em;
        .fa {
          width: 10%;
          color: $green-color;
          margin-right: 0.75em;
        }
        div,
        a {
          width: 90%;
          color: $white-color;
          font-weight: $thin-font-weight;
        }
        div {
          p {
            margin-bottom: 0;
            line-height: 1.2;
          }
        }
      }

      .social-network-wrapper {
        width: 50%;
        max-width: 150px;
        margin-left: 1em;
        margin-inline: $inline;
        a {
          margin-right: 20px;
        }
        .fa {
          color: $white-color;
          font-size: 1.3em;
        }
      }
    }
    .copyright {
      width: $Width_100;
      margin-top: 1em;
      text-align: center;
      color: white;
      p a {
        color: $white-color;
      }
      p {
        line-height: 0.8;
      }
      p small {
        font-size: 0.9em;
      }
    }
  }
}
@media (min-width: $mobile) {
  //FOOTER
  #footer {
    .info-container {
      .info-wrapper {
        .social-network-wrapper {
          max-width: 200px;
          a {
            margin-right: 0;
          }
          .fa {
            font-size: 1.5em;
            width: 28%;
            margin-inline: $inline;
          }
        }
      }
      .copyright {
        p small {
          font-size: 0.95em;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  //FOOTER
  #footer {
    @include background-image;
    background-image: url("../asset/footer/footer.jpg");
    overflow: hidden;
    padding: 2em 0;
    margin-bottom: 0;
    background-position: 5% 5%;
    //return back to fix here
    .form-container,
    .info-container {
      width: 50%;
    }

    form {
      .form-wrapper {
        .column-49 {
          width: 49%;
          margin-bottom: 0;
        }

        .column-49 {
          input[type="text"] {
            background-color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.8);
            color: $black-color;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          }
        }
        textarea,
        button {
          background-color: rgb(255, 255, 255);
          background-color: rgba(255, 255, 255, 0.8);
          color: $black-color;
        }
        textarea {
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        }
        button {
          padding: 0.5em 2em;
          background-color: inherit;
          color: $white-color;
        }
      }
    }

    .info-container {
      margin-left: 1.5em;
      .info-wrapper {
        max-width: 300px;
        margin-inline: auto;
        margin-top: 2em;
        //Edited
        flex-direction: column;

        .flex {
          width: $Width_100;
          margin-left: $left_inline-auto;
          max-width: 300px;
        }
        .envelope-phone-contact {
          //Edited
          border-right: 0;

          flex-direction: column;
          line-height: 0;
        }

        .box {
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          max-width: 400px;
          margin-inline: 0 auto;
          text-align: left;
          //edited
          margin-bottom: 0.25em;
          .fa {
            width: 10%;
            margin-right: 0.75em;
          }

          div {
            p {
              margin-bottom: 0;
              line-height: 1.2;
            }
          }
        }

        .social-network-wrapper {
          //edited
          width: 100%;
          max-width: 200px;
          margin-left: 0;
          margin-inline: $left_inline-auto;
        }
      }
    }
    .copyright {
      max-width: 300px;
      margin-inline: auto;

      p a {
        text-align: left;
      }
      p {
        line-height: 0.8;
        text-align: left;
      }
    }
  }
}

@media (min-width: $laptop) {
  //FOOTER
  #footer {
    padding-bottom: 1em;
    .form-container,
    .info-container {
      width: 50%;
    }

    form {
      .form-wrapper {
        button {
          padding: 0.5em 4em;
        }
      }
    }

    .info-container {
      margin-left: 1em;
      .info-wrapper {
        max-width: 425px;
        .flex {
          max-width: 425px;
        }
        .envelope-phone-contact {
          flex-direction: row;
          width: 100%;
          margin-bottom: 0.5em;
        }

        .box {
          width: 50%;
          max-width: 400px;

          //edited
          margin-bottom: 0.25em;
          .fa {
            width: 10%;
            margin-right: 0.75em;
          }
        }

        .social-network-wrapper {
          //edited
          max-width: 250px;
        }
      }
    }
    .copyright {
      max-width: 425px;
      margin-inline: $inline;

      p a {
        text-align: left;
      }
      p {
        line-height: 0.8;
        text-align: left;
      }
    }
  }
}

@media (min-width: 1600px) {
  //FOOTER
  #footer {
    .form-container {
      width: 45%;
    }
    .info-container {
      width: 55%;
      margin-top: -25px;
    }

    .info-container {
      .info-wrapper {
        max-width: 500px;
        margin-inline: $left_inline-auto;
        .flex {
          max-width: 500px;
        }
        .envelope-phone-contact {
          flex-direction: row;
          width: 100%;
          margin-bottom: 0.5em;
        }

        .social-network-wrapper {
          //edited
          max-width: 250px;
        }
      }
      .copyright {
        max-width: 500px;
        margin-inline: $left_inline-auto;
        p small,
        p a {
          font-size: 0.85em;
        }
      }
    }
  }
}
